!!!
%html{ lang: 'en' }

  %head

    %meta{ charset: 'UTF-8' }
    %title
      d3 - Patch Management for Jamf Pro

    / CSS
    %link{ href: '/css/d3.css', rel: 'stylesheet' }

    / JavaScript
    %script{ type: 'text/javascript', language: 'javascript', src: '/js/d3.js' }
    %script{ type: 'text/javascript', language: 'javascript', src: '/js/logstream.js' }

  %body
    / Top
    #pageheader
      %table{ width: '100%' }
        %tr
          %td{ valign: 'bottom', width: '120' }
            #header_logo
              %img{ alt: '', height: '120', src: '/imgs/d3logo.png', width: '120' }
            #header_version
              v#{D3::VERSION}
          %td
            %span.d3_title d3 Administration
    %hr/
    - if D3::Server.config.admin_user
      #login_logout_div

      - if session[:authed_admin]
        %a{ href: '/logout' }
          %button#logout_btn{ type: 'button' } Log Out
        = yield

      - else
        %form#login_form{ name: 'login_form', method: 'POST', action: '/login' }
          - if d3::Server.config.admin_user == Chook::Server::Auth::USE_JAMF_ADMIN_USER
            Jamf Pro
          Username:
          %input#username{ type: :text, name: 'username' }
          Password:
          %input#password{ type: :password, name: 'password' }
          %input#login_btn{ type: :submit, value: 'Log In' }
          - if session[:auth_failed]
            %span#login_incorrect &nbsp;&nbsp;&nbsp; Login Incorrect!

    - else
      = yield
